@font-face {
   font-family: "Terminus";
   src: url("terminus-kit/terminusttfwindows-4.49.2-webfont.woff")
      format("woff");
   src: url("terminus-kit/terminusttfwindows-4.49.2-webfont.woff2")
      format("woff2");
}

$font-stack: "Terminus", Arial;

$textbox-color: rgba(0, 0, 0, 0.904);

$bgcolor: rgb(31, 31, 31);

$text-color: white;

$colorMain: #f95738;
$color1: #69385c;
$color2: #715b64;
$color3: #89937c;
$color4: #c09bd8;

$default-padding: 0.2rem 0.5rem 0.2rem 0.5rem;

html,
body {
   font-family: $font-stack;
   line-height: 0;
   height: 100vh;
   overflow: auto;
}

body {
   /* background-color: $bgcolor; */
   margin: 0;
   background-image: url(/img/gtfo.jpg);
   background-repeat: no-repeat;
   background-position: center center;
}

a {
   text-decoration: none;
}

a:visited {
   color: inherit;
}

a:hover {
   color: $colorMain;
}

nav {
   display: flex;
   background-color: $textbox-color;
   justify-content: center;
   margin: 0;
   padding: 0;
   p {
      color: $text-color;
      margin-left: 15px;
      margin-right: 15px;
      height: 2px;
   }
   #p1 {
      color: $color1;
   }
   #p2 {
      color: $color4;
   }
   #p3 {
      color: $color2;
   }
   #p4 {
      color: $color3;
   }
}

.titleContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 40vh;
   /* background-color: rgba(0, 0, 0, 0.438); */
   .title {
      h1, h3 {
         margin: 0;
         line-height: 20px;
      }
      background-color: $textbox-color;
      color: $text-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: $default-padding;
      line-height: normal;
      text-align: center;
      padding: 15px 10px 10px 10px;
      width: 200px;
      height: fit-content;
   }
   .title:hover {
      cursor: default;
   }
}

.search {
   width: 42vh;
   display: flex;
   align-items: center;
   background-color: $textbox-color;
   margin-top: 30px;
   p {
      color: $text-color;
   }
   input {
      width: 80%;
      height: 10%;
      background-color: $textbox-color;
      font-family: $font-stack;
      color: $text-color;
      font-size: 1rem;
      border: none;
   }
   input:focus {
      outline: none;
   }
}

.weatherWrapper {
   display: flex;
   /* background-color: #715b64; */
   justify-content: flex-end;
   color: $text-color;
   margin: 10px;
   .weatherBox {
      background-color: $textbox-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100px;
      line-height: 30px;
      margin-right: 19px;
      padding-bottom: 10px;
      h3, h1, h4 {
         margin: 0;
      }
      #weatherMore {
         line-height: 15px;
      }
   }
}
      .bar {
         width: 10px;
         line-height: 12px;
      }
.headlinesWrapper {
   position: absolute;
   right: 0;
   margin-right: 29px;
   padding: 0px 6px 0px 6px;
   background-color: $textbox-color;
   color: $text-color;
   .headlinesInner {
      display: flex;
      flex-direction: row;
   }
   #headlines {
      width: 150px;
      line-height: normal;
      text-align: center;
   }
}
